html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: Arial;
	color: #000;
}
nav {
	margin: 0
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
	display: inline-block;
}
.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
}
.row {
	display: flex;
	padding: 15px 20px;
	align-items: center;
}
.spacer {
	flex: 1;
}
.main {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.text-link {
	transform: translatey(-2px)
}
.link {
	color: #000;
	opacity: 0.75;
	text-decoration: none;
	font-size: 0.8em;
	margin: 0 8px;
}
.link:hover {
	text-decoration: underline;
}
.footer-link {
	color: #000;
	opacity: 0.75;
	text-decoration: none;
	font-size: 0.8em;
	margin: 0 15px;
}
.footer-link:hover {
	text-decoration: underline;
}
.main {
	padding-top: 6.8em;
	box-sizing: border-box;
	text-align: center;
}
.icon {
	height: 1.3em;
	opacity: 0.75;
	margin-left: 2px;
	margin-right: 5px;
}
.profile {
	height: 2em;
	border-radius: 50%;
	margin: 0 8px;
	opacity: 1;
	image-rendering: crisp-edges;
}
.bell {
	height: 2em;
	opacity: 0.75;
	image-rendering: crisp-edges;
}
.icon:hover, .bell:hover {
	opacity: 1;
}
.logo {
	display: inline-block;
	font-family: 'Josefin Sans';
	font-size: 6em;
	text-align: center;
	margin: 20px;
	font-weight: 500;
	letter-spacing: -3px;
}
.char1	{
	color: #4487f2;
}
.char2 {
	color: #e84135;
}
.char3 {
	color: #fab905;
}
.char4 {
	color: #4487f2;
}
.char5 {
	color: #33a652;
}
.char6 {
	color: #e84135;
}
.search-container {
	position: relative;
}
.search-box {
	appearance: none;
	display: inline-block;
	margin: 0 auto 20px;
	padding: 1em;
	width: 35em;
	border: solid 1px #EEE;
	font-size: 1em;
	height: 2.8em;
	box-shadow: 0 1px 1px -0.5px #AAA;
	box-sizing: border-box;
	border-radius: 2px;
}
.search-box:focus, .search-box:active {
	outline: none;
}
.search-box:hover, .search-box:focus {
	box-shadow: 0 2px 5px -0.5px #AAA
}
.mic-link {
	position: absolute;
	right: 1.5em;
	top: -2px;
}
.mic {
	display: inline-block;
	width: 0.9em;
}
.search-button {
	margin: 10px 1px;
	font-size: 0.8em;
	padding: 10px 15px;
	background: #f0f0f0;
	border: none;
	font-weight: bold;
	color: #757575;
	box-sizing: border-box;
	border: solid 1px #FFF;
}
.search-button:hover {
	opacity: 1;
	border: solid 1px #DDD;
	box-sizing: border-box;
}

.footer {
	background: #f0f0f0;
}

@media (min-width: 1250px) {
	.search-box {
		width: 600px;
	}
}

@media (max-width: 1000px) {
	body {
		font-size: 1.6vw;
	}
}